HOST=0.0.0.0
PORT=3060
# BASE_URL=http://localhost:8000
# BASE_URL_SERVER=http://localhost:8000
# AUTH_URL=http://localhost:3004
FILE_URL=https://ai-academy.asia/api/file
BASE_URL=https://ai-academy.asia/api
AUTH_URL=https://ai-academy.asia/auth
AUTH_TABLE=users
PROJECT_ID=9
TOKEN_NAME=AI_TOKEN