BUILD_DIR=dist
ROUTER_BASE=/course/
HOST=0.0.0.0
PORT=8004
BASE_URL=/api
BASE_URL_SERVER=http://172.16.0.15:8000
FULL_BASE_URL=https://forensic.nfa.gov.mn/api
AUTH_URL=/auth
AUTH_TABLE=hrm_employees
PROJECT_ID=5
TOKEN_NAME=PORENSICS_TRAINING_TOKEN